.usuario{
    width: 100%; /* Establece el ancho al 100% del contenedor */
    padding: 8px; /* Ajusta el espaciado interno */
    border-radius: 8px; /* Agrega bordes redondeados */
    background-color: #f8f8f8; /* Establece un color de fondo */
    border: 1px solid #ccc;
}

body{
    background-image: url("img/fondo.jpg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    height: 100vh;
}

.card{

    width: 90%;
    max-width: 400px;
    padding: 5rem 2.5rem;
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.rem rgba(0, 0, 0, 0.5);
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.5);
    border-right-color: rgba(225, 225, 225, 0.5);
}

.cb1{
    background-color: rgba(225, 225, 225, 0.1);
}


.card-1{
    border-radius: 1rem;
    border: 1px solid transparent;
    backdrop-filter: blur(1rem);
    box-shadow: 1.3rem 1.3rem 1.rem rgba(0, 0, 0, 0.5);
    border-top-color: rgba(225, 225, 225, 0.5);
    border-left-color: rgba(225, 225, 225, 0.5);
    border-bottom-color: rgba(225, 225, 225, 0.5);
    border-right-color: rgba(225, 225, 225, 0.5);
}